<!DOCTYPE html>
<html lang="en" ng-app="kApp">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>@ViewBag.Title - kReport 1.0</title>
	<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon">
	<link href="http://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/angular-chart.js/0.8.4/angular-chart.min.css" rel="stylesheet" />
	<link href="~/Style/site.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
</head>
<body ng-controller="baseController as base" ng-cloak>
	<nav>
		<span class="page-title">
			<a href="#" ui-sref="index">kReport</a>
		</span>
		<ul>
			<li><a ui-sref="index" ui-sref-active="current">Dashboard</a></li>
			@if (Context.User.IsInRole("Admin"))
			{
				<li><a ui-sref="admin" ui-sref-active="current">Admin</a></li>
			}
		</ul>
	</nav>

	<header class="main-header">
		<canvas class="cover" id="sparks"></canvas>
		<div class="main-header-content">
			<span class="header-title">{{ title }}</span>
			@if (!Mongo.HasUsers())
			{
				<a href="#" ui-sref="start" class="fancy-button">Get Started</a>
			}
			else
			{
				@if (Model.User == null)
				{
					<form class="flex center">
						<input required type="text" placeholder="Username or Email"
							   ng-model="base.user.usernameOrEmail" />
						<input required type="password" placeholder="Password"
							   ng-model="base.user.password" />
						<button type="submit" class="fancy-button modest"
								ng-click="base.login()">
							Login
						</button>
					</form>
				}
				else
				{
					<a href="/k/Logout" class="fancy-button">Logout</a>
				}
			}
		</div>
	</header>

	@RenderBody()

	<div class="main flex" ui-view></div>

	@if (Mongo.HasUsers())
	{
		<hr>
		<div class="flex">
			<div class="chart-container">
				<header>This Week</header>
				<canvas class="chart chart-line" chart-data="base.thisWeek" chart-labels="['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']" chart-options="{bezierCurve:false,pointDotRadius:3}"></canvas>
			</div>
			<div class="chart-container">
				<header>This Year</header>
				<canvas class="chart chart-line" chart-data="base.thisYear" chart-labels="['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']" chart-options="{bezierCurve:false,pointDotRadius:3}"></canvas>
			</div>
			<div class="chart-container">
				<header>Servers</header>
				<canvas class="chart chart-bar big" chart-data="base.serverStats" chart-labels="base.serverLabels"></canvas>
			</div>
		</div>
	}

	@if (Context.User.Identity.IsAuthenticated)
	{
		<div class="chat-box" ng-controller="chatController as chat">
			<div class="chat-messages">
				<div class="message"
					 ng-repeat="msg in chat.messages"
					 ng-class="msg.system ? 'system' : ''"
					 data-date="{{ msg.date }}">
					<span class="author"
						  ng-show="!msg.system"
						  ng-class="msg.author.admin ? 'admin' : ''">{{ msg.author.name }}</span>
					{{ msg.message }}
				</div>
			</div>
			<div class="chat-users">
				<div class="chat-user"
					 ng-repeat="user in chat.users">
					{{ user.name }}
				</div>
			</div>
			<input class="chat-input" placeholder="Enter a message..." maxlength="200"
				   ng-model="chat.message"
				   ng-keydown="chat.keydown($event)"
				   ng-disabled="!chat.connected">
			<div class="chat-extra"></div>
		</div>
			}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-chart.js/0.8.4/angular-chart.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.10.3/angular-moment.min.js"></script>
	<script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
	<script src="~/signalr/hubs"></script>
	<script src="~/Scripts/kApp.js"></script>
	<script src="~/Scripts/site.js"></script>
	@RenderSection("scripts", false)
</body>
</html>