@{
	ViewBag.Title = "Error";

	string Message = ViewBag.Message;
	int StatusCode = ViewBag.StatusCode;
}

<div class="wrapper">
	<div class="container">
		<header class="title">
			<h2>Error @StatusCode</h2>
		</header>
		<p>Something terrible happened, and I don't know what to do.  This is all they told me:</p>
		<p class="errorquote">@Message</p>
		<p>Please relay this to an admin or developer.  Hopefully they can fix it.</p>
		<p>Thanks, and sorry for the inconvenience!</p>
	</div>
</div>