@{
	ViewBag.Title = "Dashboard";
}

<div class="wrapper multi">
	<div class="container">
		<input type="radio" id="filter-all" name="mode" value="all" checked class="radio" />
		<input type="radio" id="filter-mm" name="mode" value="mm" class="radio" />
		<input type="radio" id="filter-rep" name="mode" value="rep" class="radio" />

		<header class="title">
			<h2>Requests</h2>
			<div id="filters" ng-show="base.requests.length">
				<label class="radio green" for="filter-all" data-label="All"></label>
				<label class="radio yellow" for="filter-mm" data-label="MMs"></label>
				<label class="radio red" for="filter-rep" data-label="Reports"></label>
			</div>
		</header>

		<table id="entries" ng-show="base.requests.length" ng-init="base.getAllRequests()">
			<tr>
				<th>Target</th>
				<th>Sender</th>
				<th>Reason</th>
				<th>Server</th>
			</tr>
			<tbody id="entries-filterable">
				<tr class="entry"
					ng-repeat="req in base.requests | reverse"
					ng-class="req.Abbreviation"
					ng-click="base.request = req; base.getRequest()">
					<td>{{ req.Target.Name }}</td>
					<td>{{ req.Sender.Name }}</td>
					<td>{{ req.Reason }}</td>
					<td>{{ req.Server.Name }}</td>
				</tr>
			</tbody>
		</table>

		<p ng-hide="base.requests.length">No requests!</p>

	</div>
	<div class="container">
		<div ng-hide="base.requestDetail != null">
			<header class="title">
				<h2>Home</h2>
			</header>
			<p>Click a report or middleman request in the <strong>Reports</strong> area to view the full version here.</p>
		</div>
		<div ng-show="base.requestDetail != null">
			<header class="title">
				<h2>{{ base.requestDetail.Server.Name }}</h2>
				<button ng-show="base.requestDetail.Server.IP != null"
						ng-click="base.joinSelected()">Join</button>
			</header>

			<p class="report-body">
				<span class="sender">
					{{ base.requestDetail.Sender.Name || "Unknown" }}
				</span>
				reported
				<span class="target">
					{{ base.requestDetail.Target.Name || "Unknown" }}
				</span>

				<blockquote ng-show="base.requestDetail.Reason != null">
					{{ base.requestDetail.Reason }}
				</blockquote>

			</p>

		</div>
	</div>
</div>