$yellow: #ffff00; //bright yellow
$green: #00ff99; //mint green
$orange: #ff9900; //construction orange
$red: #ff3333; //cherry red
$blue: #6699ff; //pharmacy blue

$primary: $orange;
$fg: #eee;
$bg: #222;

$width: 1000px;

$placeholders: '::-webkit-input-placeholder' '::-moz-placeholder' ':-mz-input-placeholder' '::placeholder';
$max: 99999;

*, *:before, *:after {
	box-sizing: border-box;
}

html {
	color: $primary; //expose primary colour to Javascript
}

html, body {
	min-height: 100vh;
	min-width: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: $bg url(../Media/dark-matter.png) repeat;
	color: $fg;
	font-family: Lato, sans-serif;
}

nav {
	background: rgba(0,0,0,0.7);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	z-index: $max;

	.page-title {
		font-size: 1.5em;
		font-weight: 700;
		margin-right: 40px;
		padding: 15px 25px;
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

		li {
			position: relative;
			margin-bottom: 0 !important;

			a {
				padding: 0 20px;
				font-weight: 700;
				display: block;
				height: 60px;
				line-height: 55px;
				transition: all 250ms ease;

				&.current {
					background: $primary;
					color: #000;
				}

				&:hover {
					transition: all 50ms ease;
					box-shadow: inset 0 -2px 0 $primary;
				}
			}
		}
	}
}

ul:not(.ul) {
	margin: 0;
	padding: 0;
	list-style: none;

	li:not(:last-child) {
		margin-bottom: 10px;
	}
}

a {
	text-decoration: none;
	color: inherit;
	font-weight: 700;
	transition: all 50ms ease;

	&:hover {
		color: lighten($primary, 25%);
	}
}

input, button {
	font: inherit;
	background: rgba(0,0,0,0.3);
	color: $fg;
	border: none;
	outline: none;
	border-bottom: 2px solid $primary;
	box-shadow: 0 0 0 1px transparentize($primary, 0.7);
	font-size: 1em;
	padding: 5px 10px;
	margin: 0;
	transition: all 250ms ease;

	&:not(:first-child) {
		margin-left: 5px;
	}

	&:valid:not(.fancy-button) {
		background: transparentize($primary, 0.9);

		&:hover {
			background: transparentize($primary, 0.8);
		}
	}

	&:hover {
		box-shadow: 0 0 3px 1px $primary;
		background: rgba(0,0,0,0.5);
	}
}

button {
	cursor: pointer;

	&:active {
		transition: all 100ms ease;
		transform: translateY(2px);
		border-color: transparent;
	}
}

hr {
	border-color: $primary;
	margin: 25px auto;

	@if $width != 'auto' {
		max-width: $width;
	}
	@else {
		max-width: calc(100vw - 50px);
	}
}

form {
	margin: 25px 0;

	fieldset {
		@extend .chart;
		border: none;
	}
}

table {
	border-collapse: collapse;

	th, td {
		padding: 10px;
	}
}

label {
	text-transform: uppercase;
	font-size: 0.8em;
	font-weight: 700;
	text-align: right;
	display: block;
}

action-panel {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background: rgba(0,0,0,0.9);
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	display: flex;
	align-items: center;
	transform: translateY(100%);
	transition: all 250ms ease;
	z-index: $max;

	&.visible {
		transform: none;
		opacity: 1;
	}

	header {
		background: rgba(0,0,0,0.5);
		box-shadow: 2px 0 0 $primary;
		display: inline-block;
		font-weight: 700;
		font-size: 1.2em;
		padding: 15px 20px;
		width: 6%;
		min-width: 150px;

		small {
			display: block;
			font-weight: 400;
			font-size: 0.6em;
		}
	}

	.action-panel-content {
		padding: 5px 10px;
		width: 94%;
	}
}

fancy-tooltip {
	position: relative;
	display: inline-block;

	:first-child:hover ~ span {
		transform: none;
		opacity: 1;
	}

	> span {
		pointer-events: none;
		position: absolute;
		display: block;
		top: -50px;
		left: 0;
		white-space: nowrap;
		padding: 10px 15px;
		font-size: 0.8em;
		text-align: center;
		background: rgba(0,0,0,0.8);
		box-shadow: 0 0 0 1px rgba(255,255,255,0.1);
		opacity: 0;
		transform: translateY(10px);
		transition: all 250ms ease;
	}

	&.right > span {
		left: auto;
		right: 0;
	}
}

notification-toast {
	pointer-events: none;
	position: fixed;
	top: 10px;
	right: 10px;
	background: #111;
	padding: 10px 15px;
	box-shadow: 0 2px 0 $green;
	animation: toast 3s ease;
	z-index: $max;

	&.red {
		box-shadow: 0 2px 0 $red;
	}
}

code {
	font-family: monospace;
	font-size: 1.2em;
	background: rgba(0,0,0,0.5);
	padding: 3px 5px;
	margin: 0 5px;
	box-shadow: 0 0 1px $primary;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0 auto;

	@if $width != 'auto' {
		max-width: $width;
	}

	&.center {
		justify-content: center;
	}
}

&.right {
	float: right;
}

.main {
	padding: 0 15px;
}

p.lead {
	font-size: 1.1em;
	font-weight: 700;
}

.container {
	width: 100%;
}

.content {
	max-width: 800px;
	margin: 0 auto;
}

.main-header {
	background-image: url(../Media/wood.jpg);
	border-bottom: 2px solid #111;
	box-shadow: inset 0 0 50px #000, 0 0 1px rgba(255,255,255,0.3);
	text-align: center;
	margin: 60px 0 25px 0;
	text-shadow: 0 5px 15px #000;
	position: relative;

	&.top {
		margin-top: 0;
	}

	&.small {
		.main-header-content {
			max-height: 50px;
			padding: 10px 15px;
		}

		.header-title {
			font-size: 2em;
			line-height: 50px;
		}

		canvas.cover {
			opacity: 0;
		}
	}

	canvas.cover {
		transition: all 500ms ease;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.2;
	}

	.main-header-content {
		transition: all 500ms ease;
		position: relative;
		padding: 50px 10px;
		max-width: 800px; //Not affected by $width
		margin: 0 auto;
		overflow: hidden;
	}

	.header-title {
		transition: all 500ms ease;
		display: block;
		text-transform: uppercase;
		padding: 0 20px;
		font-size: 3em;
		font-weight: 900;
		margin-bottom: 40px;
		line-height: 1em;
	}
}

.entries {
	padding: 10px;
	margin: 0 auto;
	text-shadow: 0 2px 3px #000;

	@if $width != 'auto' {
		max-width: $width;
	}
	@else {
		display: flex;
		justify-content: space-between;
		align-content: flex-start;
		flex-wrap: wrap;
		width: 50%;
		max-width: 880px;
	}

	&:hover .entries-title::after {
		width: 100%;
		transition: width 250ms ease;
	}

	.entries-title {
		width: 100%;
		text-transform: uppercase;
		font-size: 1.2em;
		font-weight: 700;
		padding: 0 0 5px 8px;
		box-shadow: -2px 0 0 $primary;
		transform: translateX(-7px);
		position: relative;

		&::after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			height: 2px;
			width: 5px;
			background: $primary;
			transition: width 500ms ease;
		}

		&.red {
			box-shadow: -2px 0 0 $red;

			&::after {
				background: $red;
			}
		}

		&.yellow {
			box-shadow: -2px 0 0 $yellow;

			&::after {
				background: $yellow;
			}
		}
	}

	article {
		width: 400px;
		font-size: 0.9em;
		padding: 10px;
		opacity: 0;
		position: relative;
		animation: spinbox 500ms ease 1 forwards;

		@for $i from 0 through 15 {
			&:nth-child(#{$i}) {
				animation-delay: #{$i * 100}ms;
			}
		}

		&::after {
			content: "DONE";
			background: rgba(0,0,0,0.1);
			box-shadow: 3px 0 0 rgba(255,255,255,0.1);
			color: $fg;
			padding: 5px 10px;
			text-shadow: none;
			text-align: center;
			font-weight: 700;
			pointer-events: none;
			position: absolute;
			top: 17px;
			right: 13px;
			opacity: 0;
			transform: translateX(10px);
			transition: all 250ms ease;
		}

		&.done::after {
			transform: none;
			opacity: 1;
		}

		header {
			font-size: 1.2em;

			a:hover {
				padding-left: 2px;
			}
		}

		p {
			margin: 0;
		}
	}
}

table.request-table {
	border-collapse: collapse;
	width: 100%;
	background: rgba(0,0,0,0.1);
	margin-top: 10px;

	th, td {
		padding: 5px 15px;
		text-align: left;

		&:first-child {
			box-shadow: inset 2px 0 0 $primary;
		}
	}

	&.red {
		th:first-child, td:first-child {
			box-shadow: inset 2px 0 0 $red;
		}
	}

	&.yellow {
		th:first-child, td:first-child {
			box-shadow: inset 2px 0 0 $yellow;
		}
	}
}

label.checkbox {
	display: inline-block;
	height: 20px;
	transform: translateX(-30px) translateY(3px);
	position: relative;

	&.inline {
		transform: none;
	}

	input[type=checkbox] {
		box-shadow: none;
		position: absolute;
		padding: 0;
		margin: 0;
		top: 0;
		left: 0;
		-webkit-appearance: none;
		position: absolute;
		outline: none;

		&::before {
			content: "";
			position: absolute;
			top: 1px;
			left: 0;
			background: $primary;
			border-radius: 3px;
			width: 20px;
			height: 20px;
		}

		&::after {
			cursor: pointer;
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			background: lighten($bg, 10%);
			border-radius: 3px;
			border: 1px solid rgba(255,255,255,0.2);
			box-shadow: inset 0 0 3px #000;
			width: 20px;
			height: 20px;
			font-size: 14pt;
			font-weight: 900;
			line-height: 15pt;
			text-align: center;
			transition: all 100ms ease;
		}

		&:checked {
			&::before {
				animation: big-grow 500ms ease 1;
			}

			&::after {
				box-shadow: 0 0 5px $primary;
				background: $primary;
				color: $bg;
				content: "\2713";
			}
		}

		&.red {
			&::before {
				background: $red;
			}

			&:checked::after {
				box-shadow: 0 0 5px $red;
				background: $red;
			}
		}
	}
}

.box-container {
	header {
		padding-left: 10px;
		text-transform: uppercase;
		font-weight: 700;
		line-height: 0.5em;
	}
}

.box {
	box-shadow: 0 0 0 1px rgba(255,255,255,0.1);
	background: rgba(0,0,0,0.25);
	padding: 10px;
	margin: 15px 0;
	width: 300px;
	max-width: 70vw;

	&.big {
		width: 800px;
	}
}

.fancy-button {
	margin: 20px;
	cursor: pointer;
	border: none;
	padding: 10px 25px;
	text-transform: uppercase;
	font-family: Lato, sans-serif;
	font-size: 1.2em;
	font-weight: 700;
	color: $fg;
	text-shadow: none;
	outline: none;
	background: rgba(0,0,0,0.3);
	box-shadow: 0 0 0 1px transparentize($primary, 0.7);
	position: relative;
	z-index: 1;
	transition: all 250ms ease;

	&::before, &::after {
		content: "";
		display: block;
		position: absolute;
		left: 0;
	}

	&::before {
		background: $primary;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 5%;
		transition: all 250ms ease;
		z-index: -1;
	}

	&::after {
		width: 100%;
		height: 100%;
		top: 0;
		z-index: -1;
	}

	&:hover {
		background: transparent;
		color: #222;
		box-shadow: 0 0 0 5px $primary;

		&::before {
			height: 100%;
		}

		&::after {
			animation: grow 500ms ease 1;
		}
	}

	&:focus:not(:hover) {
		box-shadow: 0 0 0 2px transparentize($primary, 0.7);

		&::before {
			height: 15%;
		}
	}

	&:active {
		transform: translateY(1px);
	}

	&.modest {
		margin: 0 5px;
	}

	&.green {
		box-shadow: 0 0 0 1px transparentize($green, 0.7);

		&::before {
			background: $green;
		}

		&:hover {
			box-shadow: 0 0 0 5px $green;

			&::after {
				animation: none;
			}
		}

		&:focus:not(:hover) {
			box-shadow: 0 0 0 2px transparentize($green, 0.7);
		}
	}

	&.red {
		box-shadow: 0 0 0 1px transparentize($red, 0.7);

		&::before {
			background: $red;
		}

		&:hover {
			box-shadow: 0 0 0 5px $red;

			&::after {
				animation: none;
			}
		}

		&:focus:not(:hover) {
			box-shadow: 0 0 0 2px transparentize($red, 0.7);
		}
	}

	&.glow::after {
		-webkit-filter: blur(20px);
		filter: blur(20px);
	}
}

//Animations
@keyframes spinbox {
	from {
		transform: rotateX(-90deg) translateY(100px);
	}

	to {
		opacity: 1;
	}
}

@keyframes grow {
	to {
		background: $primary;
		transform: scale(1.2);
		opacity: 0;
	}
}

@keyframes big-grow {
	to {
		transform: scale(2);
		opacity: 0;
	}
}

@keyframes toast {
	0% {
		transform: translateY(-50px);
		opacity: 0;
	}

	10% {
		transform: none;
		opacity: 1;
	}

	90% {
		transform: none;
		opacity: 1;
	}

	100% {
		transform: translateY(-10px);
		opacity: 0;
	}
}

//Browser styles
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: #222;
}

::-webkit-scrollbar-thumb {
	background: #777;
}

::selection {
	background: transparentize($primary, 0.7);
}

//Responsiveness
@media screen and (max-width: 420px) {
	nav {
		span.page-title {
			display: none;
		}
	}
}

//Imports
@import "chat";