html {
  color: #ff9900; }

html, body {
  min-height: 100vh;
  min-width: 100%;
  margin: 0;
  padding: 0; }

body {
  background: #222 url(../Media/dark-matter.png) repeat;
  color: #eee;
  font-family: Lato, sans-serif; }

nav {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  z-index: 99999; }
  nav .page-title {
    font-size: 1.5em;
    font-weight: 700;
    margin-right: 40px;
    padding: 15px 25px; }
  nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
    nav ul li {
      position: relative; }
      nav ul li a {
        padding: 0 20px;
        font-weight: 700;
        display: block;
        height: 60px;
        line-height: 55px;
        transition: all 250ms ease; }
        nav ul li a.current {
          background: #ff9900;
          color: #000; }
        nav ul li a:hover {
          transition: all 50ms ease;
          box-shadow: inset 0 -2px 0 #ff9900; }

ul:not(.ul) {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  transition: all 50ms ease; }
  a:hover {
    color: #ffcc80; }

input {
  font: inherit;
  background: rgba(0, 0, 0, 0.3);
  color: #eee;
  border: none;
  outline: none;
  height: 30px;
  box-shadow: 0 3px 0 #ff9900, 0 0 0 1px rgba(255, 153, 0, 0.3);
  font-size: 1em;
  padding: 5px 10px;
  margin: 0 5px;
  transition: all 250ms ease; }
  input:valid {
    background: rgba(255, 153, 0, 0.1); }

hr {
  border-color: #ff9900;
  margin: 25px auto;
  max-width: 1000px; }

form {
  margin: 25px 0; }
  form fieldset {
    border: none; }

table {
  border-collapse: collapse; }
  table th, table td {
    padding: 10px; }

label {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 700;
  text-align: right;
  display: block; }

action-panel {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  transform: translateY(100%);
  transition: all 250ms ease; }
  action-panel.visible {
    transform: none;
    opacity: 1; }
  action-panel header {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 2px 0 0 #ff9900;
    display: inline-block;
    font-weight: 700;
    font-size: 1.2em;
    padding: 15px 20px;
    width: 5%;
    min-width: 100px; }
    action-panel header small {
      display: block;
      font-weight: 400;
      font-size: 0.6em; }
  action-panel .action-panel-content {
    padding: 5px 10px;
    width: 95%; }

fancy-tooltip {
  position: relative;
  display: inline-block; }
  fancy-tooltip :first-child:hover ~ span {
    transform: none;
    opacity: 1; }
  fancy-tooltip > span {
    position: absolute;
    display: block;
    top: -50px;
    left: 0;
    white-space: nowrap;
    padding: 10px 15px;
    font-size: 0.8em;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
    opacity: 0;
    transform: translateY(10px);
    transition: all 250ms ease; }
  fancy-tooltip.right > span {
    left: auto;
    right: 0; }

notification-toast {
  pointer-events: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: #111;
  padding: 10px 15px;
  box-shadow: 0 2px 0 #00ff99;
  animation: toast 3s ease; }
  notification-toast.red {
    box-shadow: 0 2px 0 #ff3333; }

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1000px;
  margin: 0 auto; }
  .flex.center {
    justify-content: center; }

.right {
  float: right; }

.main {
  padding: 0 15px; }

.full {
  width: 1000px; }

p.lead {
  font-size: 1.1em;
  font-weight: 700; }

.main-header {
  background-image: url(../Media/wood.jpg);
  border-bottom: 2px solid #111;
  box-shadow: inset 0 0 50px #000, 0 0 1px rgba(255, 255, 255, 0.3);
  text-align: center;
  margin: 60px 0 25px 0;
  text-shadow: 0 5px 15px #000;
  position: relative; }
  .main-header.small .main-header-content {
    max-height: 50px;
    padding: 10px 15px; }
  .main-header.small .header-title {
    font-size: 2em;
    line-height: 50px; }
  .main-header.small canvas.cover {
    opacity: 0; }
  .main-header canvas.cover {
    transition: all 500ms ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2; }
  .main-header .main-header-content {
    transition: all 500ms ease;
    position: relative;
    padding: 50px 10px;
    max-width: 800px;
    max-height: 200px;
    margin: 0 auto;
    overflow: hidden; }
  .main-header .header-title {
    transition: all 500ms ease;
    display: block;
    text-transform: uppercase;
    padding: 0 20px;
    font-size: 3em;
    font-weight: 900;
    margin-bottom: 40px;
    line-height: 1em; }

.entries {
  padding: 10px;
  max-width: 1000px;
  margin: 0 auto;
  text-shadow: 0 2px 3px #000; }
  .entries:hover .entries-title::after {
    width: 100%;
    transition: width 250ms ease; }
  .entries .entries-title {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 700;
    padding: 0 0 5px 20px;
    box-shadow: -5px 0 0 #ff9900;
    transform: translateX(-7px);
    position: relative; }
    .entries .entries-title::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      width: 10px;
      background: #ff9900;
      transition: width 500ms ease; }
    .entries .entries-title.red {
      box-shadow: -5px 0 0 #ff3333; }
      .entries .entries-title.red::after {
        background: #ff3333; }
    .entries .entries-title.yellow {
      box-shadow: -5px 0 0 #ffff00; }
      .entries .entries-title.yellow::after {
        background: #ffff00; }
  .entries article {
    min-width: 400px;
    font-size: 0.9em;
    padding: 10px;
    opacity: 0;
    position: relative;
    animation: spinbox 500ms ease 1 forwards; }
    .entries article:nth-child(0) {
      animation-delay: 0ms; }
    .entries article:nth-child(1) {
      animation-delay: 100ms; }
    .entries article:nth-child(2) {
      animation-delay: 200ms; }
    .entries article:nth-child(3) {
      animation-delay: 300ms; }
    .entries article:nth-child(4) {
      animation-delay: 400ms; }
    .entries article:nth-child(5) {
      animation-delay: 500ms; }
    .entries article:nth-child(6) {
      animation-delay: 600ms; }
    .entries article:nth-child(7) {
      animation-delay: 700ms; }
    .entries article:nth-child(8) {
      animation-delay: 800ms; }
    .entries article:nth-child(9) {
      animation-delay: 900ms; }
    .entries article:nth-child(10) {
      animation-delay: 1000ms; }
    .entries article:nth-child(11) {
      animation-delay: 1100ms; }
    .entries article:nth-child(12) {
      animation-delay: 1200ms; }
    .entries article:nth-child(13) {
      animation-delay: 1300ms; }
    .entries article:nth-child(14) {
      animation-delay: 1400ms; }
    .entries article:nth-child(15) {
      animation-delay: 1500ms; }
    .entries article::after {
      content: "DONE";
      background: rgba(0, 0, 0, 0.1);
      box-shadow: 3px 0 0 rgba(255, 255, 255, 0.1);
      color: #eee;
      padding: 5px 10px;
      text-shadow: none;
      text-align: center;
      font-weight: 700;
      pointer-events: none;
      position: absolute;
      top: 17px;
      right: 13px;
      opacity: 0;
      transform: translateX(10px);
      transition: all 250ms ease; }
    .entries article.done::after {
      transform: none;
      opacity: 1; }
    .entries article header {
      font-size: 1.2em; }
      .entries article header a:hover {
        padding-left: 2px; }
    .entries article p {
      margin: 0; }

table.request-table {
  border-collapse: collapse;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
  margin-top: 10px; }
  table.request-table th, table.request-table td {
    padding: 5px 10px; }
    table.request-table th:first-child, table.request-table td:first-child {
      box-shadow: inset 5px 0 0 #ff9900; }
  table.request-table.red th:first-child, table.request-table.red td:first-child {
    box-shadow: inset 5px 0 0 #ff3333; }
  table.request-table.yellow th:first-child, table.request-table.yellow td:first-child {
    box-shadow: inset 5px 0 0 #ffff00; }

label.checkbox {
  display: inline-block;
  height: 20px;
  transform: translateX(-30px) translateY(3px);
  position: relative; }
  label.checkbox input[type=checkbox] {
    box-shadow: none;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    -webkit-appearance: none;
    position: absolute;
    outline: none; }
    label.checkbox input[type=checkbox]::before {
      content: "";
      position: absolute;
      top: 1px;
      left: 0;
      background: #ff9900;
      border-radius: 3px;
      width: 20px;
      height: 20px; }
    label.checkbox input[type=checkbox]::after {
      cursor: pointer;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background: #3c3c3c;
      border-radius: 3px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      box-shadow: inset 0 0 3px #000;
      width: 20px;
      height: 20px;
      font-size: 14pt;
      font-weight: 900;
      line-height: 15pt;
      text-align: center;
      transition: all 100ms ease; }
    label.checkbox input[type=checkbox]:checked::before {
      animation: big-grow 500ms ease 1; }
    label.checkbox input[type=checkbox]:checked::after {
      box-shadow: 0 0 5px #ff9900;
      background: #ff9900;
      color: #222;
      content: "\2713"; }

.chart-container header {
  padding-left: 10px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 0.5em; }

.chart, form fieldset {
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
  background: rgba(0, 0, 0, 0.25);
  padding: 10px;
  margin: 15px 0;
  width: 400px;
  max-width: 70vw; }
  .chart.big, form fieldset.big {
    width: 900px; }

.fancy-button {
  margin: 20px;
  cursor: pointer;
  border: none;
  padding: 10px 25px;
  text-transform: uppercase;
  font-family: Lato, sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  color: #eee;
  text-shadow: none;
  outline: none;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0 1px rgba(255, 153, 0, 0.3);
  position: relative;
  z-index: 1;
  transition: all 250ms ease; }
  .fancy-button::before, .fancy-button::after {
    content: "";
    display: block;
    position: absolute;
    left: 0; }
  .fancy-button::before {
    background: #ff9900;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
    transition: all 250ms ease;
    z-index: -1; }
  .fancy-button::after {
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1; }
  .fancy-button:hover {
    background: transparent;
    color: #222;
    box-shadow: 0 0 0 5px #ff9900; }
    .fancy-button:hover::before {
      height: 100%; }
    .fancy-button:hover::after {
      animation: grow 500ms ease 1; }
  .fancy-button:focus:not(:hover) {
    box-shadow: 0 0 0 2px rgba(255, 153, 0, 0.3); }
    .fancy-button:focus:not(:hover)::before {
      height: 15%; }
  .fancy-button:active {
    transform: translateY(1px); }
  .fancy-button.modest {
    margin: 0 5px; }
  .fancy-button.green {
    box-shadow: 0 0 0 1px rgba(0, 255, 153, 0.3); }
    .fancy-button.green::before {
      background: #00ff99; }
    .fancy-button.green:hover {
      box-shadow: 0 0 0 5px #00ff99; }
      .fancy-button.green:hover::after {
        animation: none; }
    .fancy-button.green:focus:not(:hover) {
      box-shadow: 0 0 0 2px rgba(0, 255, 153, 0.3); }
  .fancy-button.red {
    box-shadow: 0 0 0 1px rgba(255, 51, 51, 0.3); }
    .fancy-button.red::before {
      background: #ff3333; }
    .fancy-button.red:hover {
      box-shadow: 0 0 0 5px #ff3333; }
      .fancy-button.red:hover::after {
        animation: none; }
    .fancy-button.red:focus:not(:hover) {
      box-shadow: 0 0 0 2px rgba(255, 51, 51, 0.3); }
  .fancy-button.glow::after {
    -webkit-filter: blur(20px);
    filter: blur(20px); }

@keyframes spinbox {
  from {
    transform: rotateX(-90deg) translateY(100px); }
  to {
    opacity: 1; } }

@keyframes grow {
  to {
    background: #ff9900;
    transform: scale(1.2);
    opacity: 0; } }

@keyframes big-grow {
  to {
    transform: scale(2);
    opacity: 0; } }

@keyframes toast {
  0% {
    transform: translateY(50px);
    opacity: 0; }
  10% {
    transform: none;
    opacity: 1; }
  90% {
    transform: none;
    opacity: 1; }
  100% {
    transform: translateY(10px);
    opacity: 0; } }

::-webkit-scrollbar {
  width: 10px;
  height: 10px; }

::-webkit-scrollbar-track {
  background: #222; }

::-webkit-scrollbar-thumb {
  background: #777; }

::selection {
  background: rgba(255, 153, 0, 0.3); }

@media screen and (max-width: 420px) {
  nav span.page-title {
    display: none; } }

