@{
	ViewBag.Title = "Login";
}

<div class="wrapper">
	<div class="container">
		<header class="title">
			<h2>Login</h2>
		</header>

		<form class="future-form" method="post" action="~/k/Login">
			<script class="form-scripts">
				[{
					success: function () {
						setTimeout(function () {
							window.location = "@Url.Content("~/")";
						}, 1000);
					}
				}];
			</script>
			<fieldset>
				<table>
					<tr>
						<td colspan="2">
							<h3>Login</h3>
						</td>
					</tr>
					<tr><td colspan="2" class="form-error"></td></tr>
					<tr><td colspan="2" class="form-success"></td></tr>
					<tr>
						<td><label for="login-username">Identification</label></td>
						<td>
							<input id="login-username" type="text" name="usernameOrEmail" placeholder="Username or Email" required maxlength="100">
						</td>
					</tr>
					<tr>
						<td><label for="login-password">Password</label></td>
						<td>
							<input id="login-password" type="password" name="password" placeholder="Password" required maxlength="100">
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>
							<input type="submit" value="Login">
						</td>
					</tr>
				</table>
			</fieldset>
		</form>
	</div>
</div>