@{
    ViewBag.Title = "Start";
}

<div class="wrapper">
	<div class="container important">
		<header class="title">
			<h2>First Run</h2>
		</header>
		<p>Thanks for installing kReport!  kReport couldn't find any users in the database, so you need to create one to begin.</p>
		<p>The first user is perhaps the most important one &ndash; with it, you can add other users to the system.  It's important to <strong>remember the information you enter</strong> in the following form, or kReport might need to be reset to regain access.</p>
		<p>This form only gathers the necessities.  Other information can be provided through the settings page once you're in.</p>

		<form class="future-form" method="post" action="~/k/FirstUser">
			<script class="form-scripts">
				[{
					success: function () {
						setTimeout(function () {
							window.location = "@Url.Content("~/")";
						}, 1000);
					}
				}];
			</script>
			<fieldset>
				<table>
					<tr>
						<td colspan="2">
							<h3>Create First User</h3>
						</td>
					</tr>
					<tr><td colspan="2" class="form-error"></td></tr>
					<tr><td colspan="2" class="form-success"></td></tr>
					<tr>
						<td><label for="login-email">Email</label></td>
						<td>
							<input id="login-email" type="text" name="Email" placeholder="Email" required maxlength="100">
						</td>
					</tr>
					<tr>
						<td><label for="login-password">Password</label></td>
						<td>
							<input id="login-password" type="password" name="Password" placeholder="Password" required maxlength="100">
						</td>
					</tr>
					<tr>
						<td><label for="login-cpassword">Confirm password</label></td>
						<td>
							<input id="login-cpassword" type="password" name="ConfirmPassword" placeholder="Confirm password" required maxlength="100">
						</td>
					</tr>
					<tr>
						<td>&nbsp;</td>
						<td>
							<input type="submit" value="Create">
						</td>
					</tr>
				</table>
			</fieldset>
		</form>
	</div>
</div>