/* line 22, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
.future-form {
  font-family: 'Muli';
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  max-width: 100%; }
  /* line 27, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
  .future-form table {
    margin: 0 auto;
    background: none;
    border: none;
    width: auto; }
    /* line 32, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
    .future-form table tr td {
      border: none !important;
      padding: 5px; }
      /* line 35, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
      .future-form table tr td label {
        line-height: normal;
        margin-bottom: 0; }
  /* line 41, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
  .future-form fieldset {
    border: none; }
    /* line 43, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
    .future-form fieldset legend {
      font-weight: 300;
      font-size: 1.5em;
      margin-bottom: 10px; }
  /* line 49, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
  .future-form h1, .future-form h2, .future-form h3, .future-form h4, .future-form h5, .future-form h6 {
    margin: 10px 0 0 0; }
  /* line 52, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
  .future-form h1, .future-form h2, .future-form h3, .future-form h4 {
    font-weight: 300; }
  /* line 55, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
  .future-form label {
    display: block;
    position: relative;
    line-height: 2em;
    margin-bottom: 20px; }
    /* line 60, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
    .future-form label input {
      vertical-align: top;
      display: inline-block;
      position: absolute;
      left: 150px; }
    /* line 66, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
    .future-form label .chain {
      position: absolute;
      left: 150px; }
  /* line 71, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
  .future-form input, .future-form textarea, .future-form button {
    box-shadow: none !important;
    display: block;
    transform: translateZ(0);
    font-family: 'Muli';
    font-size: 10pt;
    border: none;
    padding: 8px 5px;
    outline: none;
    resize: none;
    width: 200px;
    position: relative;
    border-bottom: 1px solid #28314e;
    background: linear-gradient(#222 calc(100% - 2px), #3f96fc 0) no-repeat;
    color: #fefefe;
    background-size: 100% 100%;
    background-position: -200px 0;
    overflow: visible; }
    /* line 7, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
    .future-form input, .future-form input:before, .future-form input:after, .future-form textarea, .future-form textarea:before, .future-form textarea:after, .future-form button, .future-form button:before, .future-form button:after {
      transition: all 250ms ease; }
    /* line 90, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
    .future-form input.half, .future-form textarea.half, .future-form button.half {
      width: 100px;
      background-position: -100px 0; }
    /* line 94, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
    .future-form input.double, .future-form textarea.double, .future-form button.double {
      width: 400px;
      background-position: -400px 0; }
    /* line 98, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
    .future-form input:focus, .future-form input[required]:valid, .future-form input[pattern]:valid, .future-form textarea:focus, .future-form textarea[required]:valid, .future-form textarea[pattern]:valid, .future-form button:focus, .future-form button[required]:valid, .future-form button[pattern]:valid {
      background-position: 0 0; }
      /* line 100, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
      .future-form input:focus::-webkit-input-placeholder, .future-form input[required]:valid::-webkit-input-placeholder, .future-form input[pattern]:valid::-webkit-input-placeholder, .future-form textarea:focus::-webkit-input-placeholder, .future-form textarea[required]:valid::-webkit-input-placeholder, .future-form textarea[pattern]:valid::-webkit-input-placeholder, .future-form button:focus::-webkit-input-placeholder, .future-form button[required]:valid::-webkit-input-placeholder, .future-form button[pattern]:valid::-webkit-input-placeholder {
        visibility: visible !important;
        font-size: 0.8em;
        transform: translateY(-1.5em);
        text-shadow: 0 0 3px #000; }
        /* line 106, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
        .future-form input:focus::-webkit-input-placeholder:after, .future-form input[required]:valid::-webkit-input-placeholder:after, .future-form input[pattern]:valid::-webkit-input-placeholder:after, .future-form textarea:focus::-webkit-input-placeholder:after, .future-form textarea[required]:valid::-webkit-input-placeholder:after, .future-form textarea[pattern]:valid::-webkit-input-placeholder:after, .future-form button:focus::-webkit-input-placeholder:after, .future-form button[required]:valid::-webkit-input-placeholder:after, .future-form button[pattern]:valid::-webkit-input-placeholder:after {
          width: 100%; }
      /* line 100, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
      .future-form input:focus::-moz-placeholder, .future-form input[required]:valid::-moz-placeholder, .future-form input[pattern]:valid::-moz-placeholder, .future-form textarea:focus::-moz-placeholder, .future-form textarea[required]:valid::-moz-placeholder, .future-form textarea[pattern]:valid::-moz-placeholder, .future-form button:focus::-moz-placeholder, .future-form button[required]:valid::-moz-placeholder, .future-form button[pattern]:valid::-moz-placeholder {
        visibility: visible !important;
        font-size: 0.8em;
        transform: translateY(-1.5em);
        text-shadow: 0 0 3px #000; }
        /* line 106, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
        .future-form input:focus::-moz-placeholder:after, .future-form input[required]:valid::-moz-placeholder:after, .future-form input[pattern]:valid::-moz-placeholder:after, .future-form textarea:focus::-moz-placeholder:after, .future-form textarea[required]:valid::-moz-placeholder:after, .future-form textarea[pattern]:valid::-moz-placeholder:after, .future-form button:focus::-moz-placeholder:after, .future-form button[required]:valid::-moz-placeholder:after, .future-form button[pattern]:valid::-moz-placeholder:after {
          width: 100%; }
      /* line 100, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
      .future-form input:focus:-mz-input-placeholder, .future-form input[required]:valid:-mz-input-placeholder, .future-form input[pattern]:valid:-mz-input-placeholder, .future-form textarea:focus:-mz-input-placeholder, .future-form textarea[required]:valid:-mz-input-placeholder, .future-form textarea[pattern]:valid:-mz-input-placeholder, .future-form button:focus:-mz-input-placeholder, .future-form button[required]:valid:-mz-input-placeholder, .future-form button[pattern]:valid:-mz-input-placeholder {
        visibility: visible !important;
        font-size: 0.8em;
        transform: translateY(-1.5em);
        text-shadow: 0 0 3px #000; }
        /* line 106, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
        .future-form input:focus:-mz-input-placeholder:after, .future-form input[required]:valid:-mz-input-placeholder:after, .future-form input[pattern]:valid:-mz-input-placeholder:after, .future-form textarea:focus:-mz-input-placeholder:after, .future-form textarea[required]:valid:-mz-input-placeholder:after, .future-form textarea[pattern]:valid:-mz-input-placeholder:after, .future-form button:focus:-mz-input-placeholder:after, .future-form button[required]:valid:-mz-input-placeholder:after, .future-form button[pattern]:valid:-mz-input-placeholder:after {
          width: 100%; }
      /* line 100, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
      .future-form input:focus::placeholder, .future-form input[required]:valid::placeholder, .future-form input[pattern]:valid::placeholder, .future-form textarea:focus::placeholder, .future-form textarea[required]:valid::placeholder, .future-form textarea[pattern]:valid::placeholder, .future-form button:focus::placeholder, .future-form button[required]:valid::placeholder, .future-form button[pattern]:valid::placeholder {
        visibility: visible !important;
        font-size: 0.8em;
        transform: translateY(-1.5em);
        text-shadow: 0 0 3px #000; }
        /* line 106, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
        .future-form input:focus::placeholder:after, .future-form input[required]:valid::placeholder:after, .future-form input[pattern]:valid::placeholder:after, .future-form textarea:focus::placeholder:after, .future-form textarea[required]:valid::placeholder:after, .future-form textarea[pattern]:valid::placeholder:after, .future-form button:focus::placeholder:after, .future-form button[required]:valid::placeholder:after, .future-form button[pattern]:valid::placeholder:after {
          width: 100%; }
    /* line 112, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
    .future-form input:focus:invalid, .future-form textarea:focus:invalid, .future-form button:focus:invalid {
      filter: grayscale(100%) brightness(95%);
      -webkit-filter: grayscale(100%) brightness(95%); }
    /* line 116, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
    .future-form input::-webkit-input-placeholder, .future-form textarea::-webkit-input-placeholder, .future-form button::-webkit-input-placeholder {
      color: #a9a;
      font-family: 'Muli';
      position: relative;
      overflow: hidden;
      width: 200px !important; }
      /* line 7, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
      .future-form input::-webkit-input-placeholder, .future-form input::-webkit-input-placeholder:before, .future-form input::-webkit-input-placeholder:after, .future-form textarea::-webkit-input-placeholder, .future-form textarea::-webkit-input-placeholder:before, .future-form textarea::-webkit-input-placeholder:after, .future-form button::-webkit-input-placeholder, .future-form button::-webkit-input-placeholder:before, .future-form button::-webkit-input-placeholder:after {
        transition: all 250ms ease; }
      /* line 124, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
      .future-form input::-webkit-input-placeholder:before, .future-form textarea::-webkit-input-placeholder:before, .future-form button::-webkit-input-placeholder:before {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        width: 1px;
        height: 0;
        transition-delay: 62.5ms;
        background: rgba(0, 0, 0, 0.2);
        transform: rotateZ(180deg); }
      /* line 135, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
      .future-form input::-webkit-input-placeholder:after, .future-form textarea::-webkit-input-placeholder:after, .future-form button::-webkit-input-placeholder:after {
        content: "";
        position: absolute;
        top: 50%;
        left: auto;
        margin-left: 10px;
        width: 0;
        height: 1px;
        background: rgba(0, 0, 0, 0.2); }
    /* line 116, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
    .future-form input::-moz-placeholder, .future-form textarea::-moz-placeholder, .future-form button::-moz-placeholder {
      color: #a9a;
      font-family: 'Muli';
      position: relative;
      overflow: hidden;
      width: 200px !important; }
      /* line 7, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
      .future-form input::-moz-placeholder, .future-form input::-moz-placeholder:before, .future-form input::-moz-placeholder:after, .future-form textarea::-moz-placeholder, .future-form textarea::-moz-placeholder:before, .future-form textarea::-moz-placeholder:after, .future-form button::-moz-placeholder, .future-form button::-moz-placeholder:before, .future-form button::-moz-placeholder:after {
        transition: all 250ms ease; }
      /* line 124, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
      .future-form input::-moz-placeholder:before, .future-form textarea::-moz-placeholder:before, .future-form button::-moz-placeholder:before {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        width: 1px;
        height: 0;
        transition-delay: 62.5ms;
        background: rgba(0, 0, 0, 0.2);
        transform: rotateZ(180deg); }
      /* line 135, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
      .future-form input::-moz-placeholder:after, .future-form textarea::-moz-placeholder:after, .future-form button::-moz-placeholder:after {
        content: "";
        position: absolute;
        top: 50%;
        left: auto;
        margin-left: 10px;
        width: 0;
        height: 1px;
        background: rgba(0, 0, 0, 0.2); }
    /* line 116, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
    .future-form input:-mz-input-placeholder, .future-form textarea:-mz-input-placeholder, .future-form button:-mz-input-placeholder {
      color: #a9a;
      font-family: 'Muli';
      position: relative;
      overflow: hidden;
      width: 200px !important; }
      /* line 7, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
      .future-form input:-mz-input-placeholder, .future-form input:-mz-input-placeholder:before, .future-form input:-mz-input-placeholder:after, .future-form textarea:-mz-input-placeholder, .future-form textarea:-mz-input-placeholder:before, .future-form textarea:-mz-input-placeholder:after, .future-form button:-mz-input-placeholder, .future-form button:-mz-input-placeholder:before, .future-form button:-mz-input-placeholder:after {
        transition: all 250ms ease; }
      /* line 124, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
      .future-form input:-mz-input-placeholder:before, .future-form textarea:-mz-input-placeholder:before, .future-form button:-mz-input-placeholder:before {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        width: 1px;
        height: 0;
        transition-delay: 62.5ms;
        background: rgba(0, 0, 0, 0.2);
        transform: rotateZ(180deg); }
      /* line 135, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
      .future-form input:-mz-input-placeholder:after, .future-form textarea:-mz-input-placeholder:after, .future-form button:-mz-input-placeholder:after {
        content: "";
        position: absolute;
        top: 50%;
        left: auto;
        margin-left: 10px;
        width: 0;
        height: 1px;
        background: rgba(0, 0, 0, 0.2); }
    /* line 116, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
    .future-form input::placeholder, .future-form textarea::placeholder, .future-form button::placeholder {
      color: #a9a;
      font-family: 'Muli';
      position: relative;
      overflow: hidden;
      width: 200px !important; }
      /* line 7, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
      .future-form input::placeholder, .future-form input::placeholder:before, .future-form input::placeholder:after, .future-form textarea::placeholder, .future-form textarea::placeholder:before, .future-form textarea::placeholder:after, .future-form button::placeholder, .future-form button::placeholder:before, .future-form button::placeholder:after {
        transition: all 250ms ease; }
      /* line 124, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
      .future-form input::placeholder:before, .future-form textarea::placeholder:before, .future-form button::placeholder:before {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        width: 1px;
        height: 0;
        transition-delay: 62.5ms;
        background: rgba(0, 0, 0, 0.2);
        transform: rotateZ(180deg); }
      /* line 135, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
      .future-form input::placeholder:after, .future-form textarea::placeholder:after, .future-form button::placeholder:after {
        content: "";
        position: absolute;
        top: 50%;
        left: auto;
        margin-left: 10px;
        width: 0;
        height: 1px;
        background: rgba(0, 0, 0, 0.2); }
  /* line 148, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
  .future-form input[type="submit"], .future-form button {
    color: #fefefe;
    background: #3f96fc;
    width: auto;
    cursor: pointer;
    padding: 5px 15px;
    margin-top: 10px; }
    /* line 155, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
    .future-form input[type="submit"]:hover, .future-form button:hover {
      background: #0d7bfb; }
    /* line 158, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
    .future-form input[type="submit"]:active, .future-form button:active {
      transition: all 100ms ease;
      transform: translateY(1px); }
    /* line 162, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
    .future-form input[type="submit"].success, .future-form button.success {
      color: #111;
      background: #74ff85; }
    /* line 166, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
    .future-form input[type="submit"].error, .future-form button.error {
      color: #111;
      background: #ff5d5d; }
  /* line 171, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
  .future-form textarea {
    padding-top: 15px; }
  /* line 174, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
  .future-form .chain {
    font-size: 0; }
    /* line 176, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
    .future-form .chain * {
      vertical-align: middle; }
    /* line 177, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
    .future-form .chain span {
      margin: 0 10px;
      font-size: 0.8rem;
      opacity: 0.75; }
    /* line 182, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
    .future-form .chain input {
      left: 0;
      position: relative;
      display: inline; }
  /* line 188, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
  .future-form .form-error, .future-form .form-success {
    font-size: 0.8em;
    color: #ff5d5d;
    margin-bottom: 10px; }
    /* line 192, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
    .future-form .form-error:before, .future-form .form-success:before {
      content: "Error:";
      margin-right: 10px;
      font-weight: 700; }
    /* line 197, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
    .future-form .form-error:empty, .future-form .form-success:empty {
      display: none; }
  /* line 201, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
  .future-form .form-success {
    color: #74ff85; }
    /* line 203, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/_forms.scss */
    .future-form .form-success:before {
      content: "Success:"; }

@font-face {
  font-family: "Muli";
  src: url(../res/Muli.woff2) format("woff2");
  font-style: normal;
  font-weight: 400; }

/* line 16, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/app.scss */
* {
  -webkit-tap-highlight-color: transparent;
  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  box-sizing: border-box; }

/* line 22, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/app.scss */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative; }

/* line 28, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/app.scss */
body {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  font-family: Muli;
  background: #111;
  color: #fefefe;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap; }

/* line 44, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/app.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-shadow: 0 1px 0 #838383, 0 2px 0 #7e7e7e, 0 4px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 0px 3px rgba(0, 0, 0, 0.3), 0 1px 5px rgba(0, 0, 0, 0.2), 0 3px 10px rgba(0, 0, 0, 0.25), 0 3px 10px rgba(0, 0, 0, 0.2), 0 13px 20px rgba(0, 0, 0, 0.15); }

/* line 48, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/app.scss */
header {
  flex: 0 0 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #28314e;
  padding: 5px 10px; }
  /* line 56, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/app.scss */
  header .bars {
    font-size: 24pt; }

/* line 63, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/app.scss */
.success, .error {
  color: #111;
  padding: 15px 20px;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.5);
  margin: 5px; }

/* line 69, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/app.scss */
.error {
  background: #ff5d5d; }

/* line 72, X:/Scott/Projects/Visual Studio/C#/kReport/app/kReport/www/css/app.scss */
.success {
  background: #74ff85; }

/*# sourceMappingURL=app.css.map */